<!DOCTYPE html>
<html lang="en">
<head>
    <title>Class Booking</title>
    <%- include("partials/head.ejs") %>
</head>
<body>
    <main>
        <%- include("partials/member_nav.ejs") %>
        <div class="booking-title">
            <h1>Your Class Booking</h1>
        </div>
        <div class="member-name">
            <% if (bookings.length > 0) { %>
                <p>Member: <%= bookings[0].user_first_name %> <%= bookings[0].user_last_name %></p>
            <% } %>
        </div>

        <section>
            <article class="size-details-timetable">
                <div class="manage-class-list-header">
                    <div><p>Date</p></div>
                    <div><p>Class</p></div>
                    <div><p>Trainer</p></div>
                    <div><p>Location</p></div>
                    <div><p>Duration</p></div>
                    <div><p>Status</p></div>
                    <div></div>
                </div>
                <div class="horizontal-line"></div>
                <!-- Loop of class list -->
                <% for (const booking of bookings) { %>  
                    <div class="manage-class-list">
                        <div>
                            <p><%= new Date(booking.class_date).toLocaleDateString('en-AU', { day: 'numeric', month: "short", year: "numeric" }) %></p>
                        </div>
                        <div>
                            <p><%= booking.classDetails.activity_name %></p>
                        </div>
                        <div>
                            <p><%= booking.classDetails.class_trainer_first_name %> <%= booking.classDetails.class_trainer_last_name %></p>
                        </div>
                        <div>
                            <p><%= booking.classDetails.location_name %> </p>
                        </div>
                        <div>
                            <p><%= booking.activity_duration %></p>
                        </div>
                        <div>
                            <p><%= booking.booking_status %></p>
                        </div>
                        <div class="button">
                            <a href="/booked_class_delete?id=<%= booking.booking_id %>">Delete</a>
                        </div>
                    </div>
                <% } %>
            </article>
        </section>
        <%- include("partials/footer_member.ejs") %>
    </main>
</body>
</html>
